.chips  {
  margin-top: 10px;
}

.chip {
  list-style-type: none;
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 11px;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  border: none;
  background: teal;
  font-weight: 500;
  color: black;
  
}