.left,
.right {
  cursor: pointer;
}

.left {
  padding-left: 8px;
}
  
.right {
  margin-left: auto;
  padding-right: 16px;
}

.header {
  padding-bottom: 0.5em;
  padding-top: 0.2em;
  display: flex;
}

.header svg, .footer svg {
  font-size: 1.4em;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: bottom;
  opacity: 0.8;
}

.header svg:hover, .footer svg:hover {
  transition: 0.2s;
  filter: invert(100%) brightness(100%);
}
