.gridWrapper {
	flex-grow: 1;
	margin: 0 auto;
	align-content: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-bottom: 45px;
}

.thumbnailGrid {
	position: relative;
	width: 95%;
	height: min-content;
	max-width: 1600px;
	display: flex;
	margin: 0 auto;
	justify-content: flex-start;
	text-align: center;
	align-items: stretch;
}