.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.topOuterWrapper {
  flex-direction: column;
  width: 100%;
  /* background-color: rgba(180,180,180,1); */
  background-color: teal;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content:space-between;
  justify-items: center;
  align-content: center;
}

.topInnerWrapper {
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.filterDropdownsWrapper {
  flex-grow: 1;
}

.middleOuterWrapper {
  width: 100%;
  /* background-color: var(--inactive); */

  background-color: rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); */
}

.logoWrapper {
  font-size: 1.8em;
  float: left;
  padding-bottom: 0.2em;
}

.searchbarWrapper {
  width: auto;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  float: right;
  flex-grow: 1;
}

.searchbar {
  width: auto;
  float: right;
  justify-content: space-around;
  align-items: center;
  display:flex;
  position: relative;
  flex-grow: 1;
}

.searchbar input {
  font-size: 1em;
  padding: 0.5em;
  background: transparent;
  color: inherit;
  border: 1px solid var(--tertiary);
  height: 40px;
  max-width: 700px;
  border-radius: 20px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin: 0;
  margin-right: 1em;
}

.searchbar input:focus {
  border: 1px solid var(--primary);
}

.filters-wrapper {
  position: relative;
  z-index: 400;
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  flex-grow: 1;
}

.rightIcons {  
  flex-grow: 1;
  width: auto;
  display: flex;
}

.leftIcons {  
  flex-grow: 1;
  display: flex;
  height: auto;
  justify-content: space-evenly;
  width: auto;
}